.navbar__basket {
    background-image: url(../../../images/basket.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 36px;
    height: 32px;
    position: relative;
}

@media screen and (max-width: 530px) {
    .navbar__basket {
        width: 32px;
        height: 26;
    }
}