.description__text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    color: #70908B;
    margin-bottom: 20px;
    margin-top: 0;
}

@media screen and (max-width: 1440px) {
    .description__text {
        font-size: 42px;
        line-height: 53px;
    }
}

@media screen and (max-width: 1200px) {
    .description__text {
        font-size: 38px;
        line-height: 49px;
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 530px) {
    .description__text {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 7px;
    }
}