.description__text {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 61px;
    color: #70908B;
    margin-bottom: 20px;
    margin-top: 0;
}