@import url(./__text/navbar__text.css);
@import url(./__phone/navbar__phone.css);
@import url(./__phone-image/navbar__phone-image.css);
@import url(./__phone-container/navbar__phone-container.css);
@import url(./__number/navbar__number.css);
@import url(./__menu/navbar__menu.css);
@import url(./__menu-item/navbar__menu-item.css);
@import url(./__logo/navbar__logo.css);
@import url(./__link/navbar__link.css);
@import url(./__link-logo/navbar__link-logo.css);
@import url(./__contacts/navbar__contacts.css);
@import url(./__basket/navbar__basket.css);
@import url(./__social/navbar__social.css);
@import url(./__tw/navbar__tw.css);
@import url(./__fb/navbar__fb.css);
@import url(./__inst/navbar__inst.css);
@import url(./__burger/navbar__burger.css);
@import url(./__selector/navbar__selector.css);
@import url(./__selector-item/navbar__selector-item.css);

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    margin: 0 auto;
}

@media screen and (max-width: 1150px) {
    .navbar {
        flex-wrap: wrap;
        width: 85%;
    }
}

@media screen and (max-width: 650px) {
    .navbar {
        flex-wrap: nowrap;
        justify-content: normal;
    }
}

@media screen and (max-width: 530px) {
    .navbar {
        width: 92%;
    }
}

