.service__info {
    position: absolute;
    top: 20px;
    right: 30px;
    width: 37px;
    height: 37px;
    background-image: url(../../../images/info.svg);
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 730px) {
    .service__info {
        display: none;
    }
}