@import url(./__title/service__title.css);
@import url(./__price/service__price.css);
@import url(./__old-price/service__old-price.css);
@import url(./__item/service__item.css);
@import url(./__image/service__image.css);
@import url(./__description/service__description.css);
@import url(./__container/service__container.css);
@import url(./__sale/service__sale.css);
@import url(./__info/service__info.css);
@import url(./__plus/service__plus.css);
@import url(./__text/service__text.css);
@import url(./__heart/service__heart.css);
@import url(./__like/service__like.css);
@import url(./__inculate/service__inculate.css);
@import url(./__info-image/service__info_image.css);
@import url(./__likes/service__likes.css);

.service {
    width: 61%;
    display: flex;
    margin: 0 auto;
    margin-bottom: 140px;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
    z-index: 3;
}

@media screen and (max-width: 1880px) {
    .service {
        width: 70%
    }
}

@media screen and (max-width: 1650px) {
    .service {
        width: 80%
    }
}

@media screen and (max-width: 1280px) {
    .service {
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 730px) {
    .service {
        width: 100%;
    }
}