.service__title {
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 48px;
    color: #195557;
    margin-top: 54px;
    margin-bottom: 17px;
}