.icon_type_high {
    margin-top: 0;
}

@media screen and (max-width: 1440px) {
    .icon_type_high {
        margin-top: 25px;
    }
}

@media screen and (max-width: 800px) {
    .icon_type_high {
        margin-right: auto;
        margin-top: 0;
    }
}