.service__old-price {
    margin: 0;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-decoration: line-through;
    color: #c2ccca;
}