.navbar__selector {
    position: absolute;
    display: none;
    flex-direction: column;
    list-style: none;
    background: #fffffe;
    box-shadow: 4px 4px 20px #c2ccca;
    border-radius: 8px;
    width: 170px;
    top: 40px;
    left: 38%;
    padding-left: 24px;
}

@media screen and (max-width: 1150px) {
    .navbar__selector {
        left: 28%; 
    }
}