.popup__button-close {
    background-image: url(../../../images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 25px;
    height: 25px;
    border: none;
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: transparent;
    transform: rotate(45deg);
}