.description__subtitle {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #70908B;
    margin-bottom: 34px;
    margin-top: 0;
}