.popup__label {
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #195557;
    margin-bottom: 10px;
}

.popup__label:last-of-type {
    margin-bottom: 36px;
}