@import url(./__text/footer__text.css);

.footer {
    width: 100%;
    background-color: #70908b;
    padding-top: 50px;
    z-index: 3;
    position: relative;
}

@media screen and (max-width: 730px) {
    .footer {
        max-height: 475px;
    }
}